@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: white;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  box-sizing: border-box;
  letter-spacing: -0.5px;
}

h1,
h2,
h3 {
  font-family: var(--font-caveat), cursive; /* Using Caveat for headings */
}

p,
body,
a {
  font-family: var(--font-nunito), sans-serif; /* Using Nunito for body text */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  /* Custom styles for dots */
  .slick-dots.custom-dots {
    bottom: -25px; /* Position the dots as you like */
  }

  .slick-dots.custom-dots li button:before {
    font-size: 12px; /* Change size of dots */
    color: #c9c7c7; /* Default color of dots */
    opacity: 1; /* Ensure the dots are fully visible */
  }

  .slick-dots.custom-dots li.slick-active button:before {
    color: #f79031; /* Color of the active dot */
    font-size: 14px; /* Size of active dot */
  }

  .slick-dots.custom-dots li button:hover:before {
    color: #f79031; /* Color on hover */
  }
}
